body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa;
}
.brand-green {
  color: #2e7d32;
}
.brand-dark-green {
  color: #004d40;
}
.bg-brand-green {
  background-color: #2e7d32;
}
.hover\:bg-brand-green-dark:hover {
  background-color: #1b5e20;
}
.ring-brand-green:focus {
  --tw-ring-color: #2e7d32;
}
.border-brand-green:focus {
  --tw-border-opacity: 1;
  border-color: #2e7d32;
}
.bg-brand-off-white {
  background-color: #f9f6f1;
}
