<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/ico.png" />
  <title>GreenDrop</title>

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet" />
  <!-- Leaflet (2D) -->
  <script src="https://unpkg.com/feather-icons"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- Cluster para Leaflet -->
  <link href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" rel="stylesheet">
  <link href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" rel="stylesheet">
  <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>

  <!-- MapLibre (3D/perspectiva) -->
  <link href="https://unpkg.com/maplibre-gl@3.6.1/dist/maplibre-gl.css" rel="stylesheet">
  <script src="https://unpkg.com/maplibre-gl@3.6.1/dist/maplibre-gl.js"></script>
  
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/profile.css" />
  <link rel="stylesheet" href="/css/map.css">
  <link rel="stylesheet" href="/css/educativo.css">
</head>

<body>
  <div id="background-animation" aria-hidden="true">
    <svg id="falling-items-svg" style="width: 100%; height: 100%;">
      <defs>
        <g id="leaf">
          <path d="M15 0 C 10 5, 5 15, 0 20 C 5 18, 10 16, 15 15 C 20 16, 25 18, 30 20 C 25 15, 20 5, 15 0 Z" />
        </g>
        <g id="greendrop">
          <path d="M15 0 C -5 15, 15 35, 15 35 C 15 35, 35 15, 15 0 Z" />
        </g>
      </defs>
    </svg>
  </div>
  
  {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/map.js"></script>
  <script src="/js/profile.js"></script>
  <script src="/js/animation.js"></script>
  <script src="/js/register.js"></script>
</body>

</html>